.pri-btn {
  padding: 8px 24px;
  background-color: transparent;
  border: 1px solid tomato;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.pri-btn:hover {
  background-color: #fff4f2;
}

.navbar ul a,
.navbar ul link {
  font-size: 16px;
  padding-bottom: 2px;
  text-transform: capitalize;
  cursor: pointer;
}

.navbar .active {
  position: relative;
}

.navbar .active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: tomato;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* header */

.header {
  width: 100%;
  height: 34vw;
  margin: 30px auto;
  background-image: url(./assets/header-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
}

.header::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5)
  );
  z-index: 1;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 2.5s;
  -webkit-animation: fadeIn 2.5s;
  z-index: 2;
}

.header-contents h2 {
  font-weight: 800;
  color: #fff;
  font-size: max(4vw, 18px);
  text-transform: capitalize;
}

.header-contents p {
  color: #fff;
  /* font-size: 1.5vw; */
}

.header-contents button {
  color: #747474;
  padding: 1vw 2vw;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 14px;
}

@media only screen and (max-width: 1050px) {
  .header {
    height: 58vw;
  }
}

@media only screen and (max-width: 769px) {
  .header-contents {
    max-width: 80%;
  }

  .header-contents h2 {
    font-size: 22px;
  }

  .header-contents p {
    font-size: 1.6vw;
  }
  .header-contents button {
    padding: 1.4vw 3.8vw;
    font-size: 12px;
  }
}

/* explore menu */

.explore-menu-list img {
  min-width: 80px;
  width: 7.5vw;
  transition: 0.3s;
  border-radius: 50%;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.explore-menu-list .active {
  border: 4px solid tomato;
  padding: 2px;
}

.explore-menu-list::-webkit-scrollbar {
  display: none;
}
